* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: roboto, sans-serif;
}
body {
  background-color: #8c8074;
}
p {
  text-align: left !important;
}

@font-face {
  font-family: "uncialAntiqua";
  src: url("UncialAntiqua-Regular.ttf");
}
section h1,
h2 {
  display: block;
  width: 100%;
  margin: 2.5vh 0;
  text-align: center;
  line-height: 8vh;
  font-size: 36px;
  color: white;
  letter-spacing: 1px;
  font-family: "Metamorphous", cursive;
}

/* Nawigacja */

div.menu {
  background-color: #fff;
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu .logo {
  height: 12vh;
  padding: 0;
  cursor: pointer;
}

.menu img {
  height: 10vh;
  padding: 1vh;
  cursor: pointer;
}

.menu nav {
  position: fixed;
  top: 0;
  right: 3vw;
}

.menu ul {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 2vh;
}

.menu nav a {
  padding: 0 30px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  line-height: 6vh;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

.menu nav a:hover {
  border-bottom: 1px solid #333;
}

.menu nav li:nth-last-child(1) a {
  border: 1px solid #444;
  transition: 0.4s;
}

.menu li:nth-last-child(1) a:hover {
  background-color: #444;
  border: 1px solid #444;
  color: white;
}

@media (max-width: 1100px) {
  div.menu {
    display: none;
    height: 0;
  }
}

/* Mobile */

.burger {
  position: fixed;
  width: 35px;
  height: 27px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.burger div {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: margin-left 0.2s, width 0.2s, top 0.2s, bottom, opacity 0.2s 0.2s,
    transform 0.2s 0.2s;
}

.burger.active div {
  background-color: #262626;
}

.burger:hover div:nth-child(1) {
  top: 0;
}

.burger.active div:nth-child(1) {
  top: calc(50% - 2.5px);
  transform: rotate(-45deg);
}

.burger div:nth-child(2) {
  top: calc(50% - 2.5px);
}

.burger:hover div:nth-child(2) {
  opacity: 1;
  top: calc(50% - 2.5px);
  margin-left: 25%;
  width: 75%;
}

.burger.active div:nth-child(2) {
  opacity: 0;
  margin-left: 0;
  width: 100%;
}

.burger div:nth-child(3) {
  bottom: 0;
}

.burger:hover div:nth-child(3) {
  margin-left: 50%;
  width: 50%;
}

.burger.active div:nth-child(3) {
  bottom: calc(50% - 2.5px);
  transform: rotate(45deg);
  margin-left: 0;
  width: 100%;
}

@media (min-width: 1101px) {
  .burger {
    display: none;
  }
}

/* Mobile Nawigacja */

.mobile {
  display: block;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  top: -100%;
  z-index: 1;
  transition: 0.3s;
}

.mobile.active {
  top: 0;
}

.mobile nav ul {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile nav ul li {
  list-style: none;
  margin: 10px;
}

.mobile nav ul li a {
  display: block;
  text-decoration: none;
  color: #262626;
  padding: 5px 0;
  text-align: center;
  font-size: 22px;
  width: 200px;
  border-bottom: 1.5px solid transparent;
  transition: 0.3s;
}

.mobile nav ul li a:hover {
  border-bottom: 1.5px solid #262626;
}

.mobile nav ul li:nth-last-child(1) a {
  border-bottom: 1.5px #262626 solid;
}

@media (min-width: 1101px) {
  .mobile {
    display: none;
  }
}

@media (orientation: portrait) and (min-height: 700px) {
  .mobile nav ul li {
    margin: 15px 0;
  }

  .mobile nav ul li a {
    padding: 10px 0;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  .mobile nav ul li a {
    font-size: 28px;
  }
}

@media (max-height: 400px) {
  .mobile {
    top: -150%;
  }

  .mobile nav ul li {
    margin: 5px;
  }
}

/* Home */

header {
  position: relative;
  background-image: url("../Images/main.jpg");
  background-position: 0 -10vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10vh;
  height: 90vh;
  min-height: 90vh;
  width: 100%;
  overflow: hidden;
}

header div {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
}

header div img.whitebear {
  position: absolute;
  height: 15vh;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

header div h1 {
  position: relative;
  color: white;
  text-align: center;
  display: block;
  top: 60%;
  font-size: 18px;
  font-family: uncialAntiqua;
}

header div h1 span {
  font-size: 46px;
}

@media (max-width: 1100px) {
  header {
    background-position: 0 0;
    top: 0;
    height: 100vh;
  }

  header div h1 {
    font-size: 14px;
  }

  header div h1 span {
    font-size: 36px;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  header div h1 {
    font-size: 22px;
  }

  header div h1 span {
    font-size: 66px;
  }
}

@media (max-height: 400px) {
  header div h1 {
    font-size: 12px;
  }

  header div h1 span {
    font-size: 26px;
  }
}

/* About */

.about {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 10vh 0 0;
  padding-bottom: 10vh;
}

.about div img {
  display: block;
  max-height: 70vh;
  margin: 0 5% 5%;
  box-shadow: 0 0 15px black;
  float: left;
  border-radius: 8px;
}
.about div p {
  display: block;
  margin: 0 5%;
  text-align: justify;
  hyphens: auto;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
}

.about button {
  display: block;
  margin: 20px 10% auto auto;
  border: none;
}

.about button a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 25px;
  color: #fff;
  border: 1px solid white;
  background-color: #8c8074;
  transition: 0.3s;
}

.about button a:hover {
  background-color: #fff;
  color: #8c8074;
}
@media (max-width: 1800px) {
  .about div p {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 1530px) and (orientation: landscape) {
  .about div p {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 1450px) and (orientation: landscape) {
  .about div p {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .about div img {
    max-width: 50%;
  }
}

@media (max-width: 1350px) {
  .about {
    padding-top: 10vh;
    margin: 0;
  }

  .about h2 {
    margin: 5vh 0;
  }

  .about div img {
    max-height: 100vh;
    max-width: 80%;
    margin: 0 auto 5vh;
    float: none;
  }

  .about div p {
    font-size: 16px;
    line-height: 22px;
    margin: 5vh 5vh 0;
  }

  .about button a {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .about {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .about div p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (orientation: portrait) and (min-height: 1000px) {
  .about div p {
    line-height: 26px;
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-height: 1300px) {
  .about div p {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (orientation: portrait) and (max-width: 370px) {
  .about div p {
    font-size: 14px;
  }
}

/* Galeria */

.gallery {
  background-image: url("../Images/Battle.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  position: relative;
}

.gallery button {
  position: absolute;
  bottom: 6vh;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery button a {
  display: block;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 100px 10px 25px;
  color: #fff;
  transition: 0.3s;
  font-family: "Metamorphous", cursive;
}

.gallery button a:hover {
  padding: 10px 175px 10px 50px;
}

@media (max-width: 1400px) {
  .gallery button a {
    font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .gallery {
    height: 100vh;
  }

  .gallery button {
    bottom: 15vh;
  }

  .gallery button a {
    font-size: 22px;
  }

  .gallery button a:hover {
    padding: 10px 115px 10px 30px;
  }
}

@media (max-width: 900px) {
  .gallery button a {
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  .gallery button a {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {
  .gallery button a {
    font-size: 30px;
  }
}

/* Rekrutacja */

.recruitment {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10vh;
}

.recruitment img {
  display: block;
  max-height: 70vh;
  margin: 0 5%;
  box-shadow: 0 0 15px #444;
  float: right;
  border-radius: 8px;
}
.recruitment div {
  position: relative;
}
.recruitment div p {
  display: block;
  margin: 0 0 0 5%;
  padding: 15vh 0 0 0;
  text-align: justify;
  color: #fff;
  font-size: 22px;
  line-height: 36px;
}

.recruitment div button {
  display: block;
  margin: 20px 10% auto auto;
  right: 26%;
  border: none;
}

.recruitment button a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 25px;
  color: #fff;
  border: 1px solid white;
  background-color: #8c8074;
  transition: 0.3s;
}

.recruitment button a:hover {
  background-color: #fff;
  color: #8c8074;
}
@media (max-width: 1700px) {
  .recruitment div p {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 1400px) {
  .recruitment img {
    max-height: 100vh;
    max-width: 50%;
  }

  .recruitment div p {
    margin: 5vh 5vh 0;
  }

  .recruitment button a {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .recruitment {
    padding-top: 0;
    margin: 0 0 10vh;
  }

  .recruitment h2 {
    margin: 5vh 0;
  }

  .recruitment img {
    max-height: 100vh;
    max-width: 80%;
    margin: 0 auto 5vh;
    float: none;
  }

  .recruitment div p {
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    margin: 5vh 5vh 0;
  }
  .recruitment button a {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .recruitment div p {
    font-size: 14px;
  }

  .recruitment button a {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
}

@media (orientation: portrait) and (max-width: 500px) {
  .recruitment div p {
    font-size: 16px;
  }
}

@media (orientation: portrait) and (max-width: 370px) {
  .recruitment div p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (orientation: portrait) and (max-width: 350px) {
  .recruitment div p {
    font-size: 14px;
  }

  .recruitment button a {
    font-size: 12px;
  }
}

@media (orientation: portrait) and (min-height: 900px) {
  .recruitment div p {
    font-size: 22px;
  }

  .recruitment button a {
    font-size: 20px;
  }
}

@media (orientation: portrait) and (min-height: 1300px) {
  .recruitment div p {
    font-size: 30px;
    line-height: 38px;
  }

  .recruitment button a {
    font-size: 26px;
  }
}

/* Współpraca */

.collaboration {
  background-image: url("../Images/collaboration.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  position: relative;
}

.collaboration p {
  display: block;
  position: absolute;
  color: white;
  top: 10vh;
  right: 5%;
  max-width: 27%;
  font-size: 22px;
  line-height: 32px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}
.collaboration p a {
  text-decoration: underline;
  color: white;
  text-decoration: none;
  cursor: auto;
}
.collaboration button {
  position: absolute;
  bottom: 6vh;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.collaboration button a {
  display: block;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 100px 10px 25px;
  color: #fff;
  transition: 0.3s;
  font-family: "Metamorphous", cursive;
}

.collaboration button a:hover {
  padding: 10px 175px 10px 50px;
}

@media (max-width: 1400px) {
  .collaboration button a {
    font-size: 22px;
  }

  .collaboration p {
    font-size: 18px;
    line-height: 26px;
    max-width: 24%;
  }
}

@media (max-width: 1100px) {
  .collaboration {
    height: 100vh;
  }

  .collaboration p {
    font-size: 20px;
    line-height: 24px;
  }

  .collaboration button {
    bottom: 15vh;
  }

  .collaboration button a {
    font-size: 22px;
  }

  .collaboration button a:hover {
    padding: 10px 115px 10px 30px;
  }
}

@media (max-width: 1050px) {
  .collaboration p {
    max-width: 60%;
  }
}

@media (max-width: 1050px) and (orientation: portrait) {
  .collaboration p {
    font-size: 30px;
    line-height: 40px;
    max-width: 60%;
    top: 30vh;
  }
}

@media (max-width: 1000px) {
  .collaboration p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 900px) {
  .collaboration p {
    max-width: 80%;
  }

  .collaboration button a {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .collaboration p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  .collaboration button a {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {
  .collaboration button a {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (max-width: 800px) {
  .collaboration p {
    font-size: 22px;
    line-height: 32px;
  }
  .collaboration p a {
    text-decoration: underline;
    cursor: pointer;
    color: #ddd;
  }
  .collaboration button {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .collaboration p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .collaboration p {
    font-size: 18px;
    top: 20vh;
  }
}

@media (orientation: portrait) and (max-width: 370px) {
  .collaboration p {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (orientation: portrait) and (max-width: 350px) {
  .collaboration p {
    font-size: 16px;
    line-height: 22px;
  }

  .collaboration button a {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (max-width: 330px) {
  .collaboration p {
    top: 10vh;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (orientation: portrait) and (max-width: 280px) {
  .collaboration p {
    top: 5vh;
    max-width: 90%;
    font-size: 12px;
    line-height: 16px;
  }

  .collaboration button a {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (max-height: 500px) {
  .collaboration p {
    top: 5vh;
    max-width: 90%;
    font-size: 12px;
    line-height: 16px;
  }

  .collaboration button a {
    font-size: 14px;
  }
}

/* Kontakt */

.contact {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #262626;
  width: 100%;
  height: 55vh;
}
.contact h2 {
  margin: 5vh 0;
}

.contact .media {
  width: 40%;
  height: 42vh;
  float: left;
  padding: 0 10%;
}

.contact .media a {
  display: block;
  width: 85%;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 40px;
  margin: 10px;
  margin-left: 40%;
}
.contact .media a:hover {
  color: #bfb4aa;
}

.contact .media a i {
  padding-right: 8px;
}

.contact .media a:nth-child(3) i {
  padding-right: 16px;
}

.contact .bear {
  width: 28%;
  float: left;
}

.contact .bear img {
  display: block;
  position: absolute;
  height: 15vh;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.contact .e-mail {
  display: block;
  float: right;
  margin: 2% 12%;
}

.contact .e-mail p {
  color: #fff;
  font-size: 36px;
  line-height: 55px;
}

.contact .e-mail p span {
  font-size: 22px;
  font-family: roboto;
}
.contact .e-mail p span a {
  text-decoration: none;
  color: #fff;
}
.contact .e-mail p span a:hover {
  color: #bfb4aa;
}
.contact .author {
  color: #999;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.contact .author a {
  color: #735856;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .contact .media a {
    font-size: 18px;
    line-height: 34px;
  }

  .contact .e-mail p {
    font-size: 30px;
  }

  .contact .e-mail p span {
    font-size: 20px;
  }
}

@media (orientation: landscape) and (max-width: 1400px) {
  .contact .media a {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 1000px) {
  .contact .media a {
    font-size: 14px;
    line-height: 22px;
  }

  .contact .e-mail p {
    font-size: 18px;
    line-height: 35px;
  }

  .contact .e-mail p span {
    font-size: 12px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .contact .e-mail p {
    font-size: 22px;
  }

  .contact .e-mail p span {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .contact .media a {
    font-size: 14px;
    line-height: 20px;
  }

  .contact .e-mail {
    margin-right: 7%;
  }
}

@media (max-width: 500px) and (orientation: landscape) {
  .contact {
    height: 70vh;
  }

  .contact h2 {
    font-size: 32px;
  }

  .contact .media a {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }

  .contact .e-mail {
    margin-right: 7%;
  }

  .contact .e-mail p {
    font-size: 18px;
  }

  .contact .e-mail p span {
    font-size: 13px;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .contact {
    height: 70vh;
  }

  .contact h2 {
    font-size: 32px;
  }

  .contact .e-mail {
    margin-right: 5%;
  }

  .contact .e-mail p {
    font-size: 18px;
  }

  .contact .e-mail p span {
    font-size: 13px;
  }
}

@media (orientation: portrait) {
  .contact {
    height: auto;
  }

  .contact .media {
    float: none;
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 5vh;
    height: auto;
  }

  .contact .media a {
    font-size: 20px;
    margin-left: 10px;
  }
  .contact .bear {
    float: none;
    height: auto;
    width: 100%;
  }
  .contact .bear img {
    position: static;
    transform: translate(0);
    margin: 0 auto;
  }

  .contact .e-mail {
    padding-top: 5vh;
    padding-bottom: 7.5vh;
    width: 100%;
    margin: 0;
    text-align: center;
    float: none;
  }

  .contact .e-mail p {
    font-size: 24px;
  }

  .contact .e-mail p span {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  .contact h2 {
    font-size: 46px;
  }

  .contact .media {
    padding-right: 0;
  }

  .contact .media a {
    font-size: 32px;
    line-height: 46px;
  }

  .contact .e-mail p {
    font-size: 36px;
    line-height: 42px;
  }

  .contact .e-mail p span {
    font-size: 28px;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .contact .media {
    padding-right: 0;
  }

  .contact .media a {
    font-size: 24px;
    line-height: 30px;
  }

  .contact .e-mail p {
    font-size: 32px;
    line-height: 38px;
  }

  .contact .e-mail p span {
    font-size: 24px;
  }
}
@media (orientation: portrait) and (max-width: 500px) {
  .contact .media a {
    line-height: 28px;
  }
}

@media (orientation: portrait) and (max-width: 420px) {
  .contact .media a {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (orientation: portrait) and (max-width: 385px) {
  .contact h2 {
    font-size: 30px;
  }

  .contact .media a {
    font-size: 16px;
    line-height: 22px;
  }

  .contact .e-mail p {
    font-size: 28px;
    line-height: 34px;
  }

  .contact .e-mail p span {
    font-size: 20px;
  }
}

@media (orientation: portrait) and (max-width: 350px) {
  .contact {
    height: 90vh;
  }

  .contact h2 {
    font-size: 32px;
  }

  .contact .media a {
    font-size: 16px;
  }

  .contact .e-mail {
    margin-top: 0;
  }

  .contact .e-mail p {
    font-size: 22px;
  }

  .contact .e-mail p span {
    font-size: 16px;
  }
}

@media (orientation: portrait) and (max-width: 350px) {
  .contact p {
    font-size: 16px;
    line-height: 22px;
  }

  .contact button a {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 540px) {
  .contact .media a {
    margin-left: 10%;
    width: 100%;
  }
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.joinUs {
  position: relative;
  top: 10vh;
  width: 100%;
  overflow: hidden;
  margin: 0 0 10vh;
}

.joinUs .pointer {
  position: relative;
  display: block;
  max-height: 70vh;
  max-width: 50%;
  margin: 0 5% 5%;
  box-shadow: 0 0 15px black;
  float: left;
  border-radius: 8px;
}

.joinUs img {
  display: none;
  width: 100%;
  border-radius: 8px;
}

.joinUs img.active {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -15px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dotsContainer {
  position: relative;
  text-align: center;
  top: -15px;
}

.dot {
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s;
}

.dot:nth-child(1) {
  transform: translatex(-36px);
}

.dot:nth-child(2) {
  transform: translatex(-18px);
}

.dot:nth-child(4) {
  transform: translatex(18px);
}

.dot:nth-child(5) {
  transform: translatex(36px);
}

.dot.active,
.dot:hover {
  background-color: #717171;
}

.joinUs p {
  display: block;
  margin: 0 5%;
  text-align: justify;
  hyphens: auto;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.joinUs button {
  position: absolute;
  right: 6%;
  border: none;
}

.joinUs button a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 25px;
  color: #fff;
  border: 1px solid white;
  background-color: #8c8074;
  transition: 0.3s;
}

.joinUs button a:hover {
  background-color: #fff;
  color: #8c8074;
}

@media (max-width: 1530px) and (orientation: landscape) {
  .joinUs div p {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 1450px) and (orientation: landscape) {
  .joinUs div p {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .joinUs .pointer {
    max-width: 50%;
  }
}

@media (max-width: 1350px) {
  .joinUs {
    margin: 0 0 10vh;
  }

  .joinUs h1 {
    margin: 5vh 0;
  }

  .joinUs .pointer {
    max-height: 100vh;
    max-width: 80%;
    margin: 0 auto 5vh;
    float: none;
  }

  .joinUs div p {
    font-size: 16px;
    line-height: 22px;
    margin: 5vh 5vh 15vh;
  }

  .joinUs button {
    bottom: 0;
    margin-top: 10vh;
  }

  .joinUs button a {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .joinUs {
    top: 0;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .joinUs div p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (orientation: portrait) and (min-height: 1000px) {
  .joinUs div p {
    line-height: 26px;
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-height: 1300px) {
  .joinUs div p {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (orientation: portrait) and (max-width: 370px) {
  .joinUs div p {
    font-size: 14px;
  }
}

.photos {
  position: relative;
  top: 10vh;
  width: 80%;
  overflow: hidden;
  margin: 0 auto 20vh;
}

.photos p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.photos p a {
  color: white;
}
.photos p a:hover {
  color: #262626;
}
.photos div .row {
  display: flex;
  flex-wrap: wrap;
}
.photos div .row .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}

.clickableImg {
  margin-top: 12px;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.clickableImg:hover {
  opacity: 0.7;
}
@media (max-width: 1350px) {
  .photos {
    margin: 0 auto 10vh;
    width: 90%;
  }

  .photos h1 {
    margin: 5vh 0;
  }
}
@media (max-width: 1100px) {
  .photos {
    top: 0;
    padding-top: 0;
  }
  .photos div .row .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .photos div .row .column {
    flex: 100%;
    max-width: 100%;
  }
  .photos div .row .column img {
    margin-top: 22px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}
.close:hover {
  color: #999;
}
.modal .next,
.modal .prev {
  font-size: 40px;
  z-index: 2;
  background-color: transparent;
}
@media (max-width: 500px) {
  .modal .next,
  .modal .prev {
    font-size: 22px;
  }
}

/* MEMBERS */

.members {
  position: relative;
  top: 10vh;
  width: 70%;
  overflow: hidden;
  margin: 0 auto 20vh;
}
.members h3 {
  display: block;
  width: 100%;
  margin: 2.5vh 0;
  text-align: center;
  line-height: 8vh;
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  font-family: "Metamorphous", cursive;
}
.elders,
.team,
.juniors,
.aspirants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.members div div {
  width: 25%;
  margin: 2% 4%;
}
.members div div img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px #444;
}
.members div div p {
  text-align: center;
  color: white;
  font-size: 26px;
  padding: 15px 0;
  margin: auto;
}
.members ~ .modal .modalImage {
  max-height: 60%;
}
.clickableImg ~ span {
  display: none;
}
.modal .text {
  display: block;
  position: absolute;
  z-index: 3;
  color: white;
  top: 81vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1500px) {
  .members {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .members div div {
    width: 42%;
    margin: 2% 4%;
  }
  .members ~ .modal .modalImage {
    transform: translate(-50%, -70%);
  }
  .modal .text {
    min-width: 95%;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .modal .text {
    top: 78vh;
    min-width: 95%;
  }
}
@media (max-width: 460px) {
  .members div div {
    width: 80%;
    margin: 10% 10%;
  }
  .modal .text {
    top: 65vh;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 400px) {
  .modal .text {
    top: 70vh;
  }
}
