* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: Arial, sans-serif;
}

/* Nawigacja */
div.menu {
    background-color: #fff;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu img {
    height: 10vh;
    padding: 1vh;
    cursor: pointer;
}

.menu nav {
    position: fixed;
    top: 0;
    right: 3vw;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 2vh;
}

.menu a {
    padding: 0 30px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    line-height: 6vh;
    text-align: center;
    /* text-transform: uppercase; */
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: .4s;
}

.menu a:hover {
    border-bottom: 1px solid #333;
}

.menu li:nth-last-child(1) a {
    border: 1px solid #444;
    transition: .4s;
}

.menu li:nth-last-child(1) a:hover {
    background-color: #444;
    border: 1px solid #444;
    color: white
}

@media(max-width: 1100px) {
    .menu {
        display: none;
    }
}

/* Mobile */
.burger {
    position: fixed;
    width: 35px;
    height: 27px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

.burger div {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: margin-left .2s, width .2s, top .2s, bottom, opacity .2s .2s, transform .2s .2s;
}

.burger.active div {
    background-color: #262626;
}

.burger:hover div:nth-child(1) {
    top: 0;
}

.burger.active div:nth-child(1) {
    top: calc(50% - 2.5px);
    transform: rotate(-45deg);
}

.burger div:nth-child(2) {
    top: calc(50% - 2.5px);
}

.burger:hover div:nth-child(2) {
    opacity: 1;
    top: calc(50% - 2.5px);
    margin-left: 25%;
    width: 75%;
}

.burger.active div:nth-child(2) {
    opacity: 0;
    margin-left: 0;
    width: 100%;
}

.burger div:nth-child(3) {
    bottom: 0;
}

.burger:hover div:nth-child(3) {
    margin-left: 50%;
    width: 50%;
}

.burger.active div:nth-child(3) {
    bottom: calc(50% - 2.5px);
    transform: rotate(45deg);
    margin-left: 0;
    width: 100%;
}

@media(min-width:1101px) {
    .burger {
        display: none;
    }
}

/* Mobile Nawigacja */

.mobile {
    display: block;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: -100%;
    z-index: 1;
    transition: .3s;
}

.mobile.active {
    top: 0;
}

.mobile nav ul {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile nav ul li {
    list-style: none;
    margin: 10px
}

.mobile nav ul li a {
    display: block;
    text-decoration: none;
    color: #262626;
    padding: 5px 0;
    text-align: center;
    font-size: 22px;
    width: 200px;
    border-bottom: 1.5px solid transparent;
    transition: .3s
}

.mobile nav ul li a:hover {
    border-bottom: 1.5px solid #262626;
}

.mobile nav ul li:nth-last-child(1) a {
    border-bottom: 1.5px #262626 solid;
}

@media(min-width: 1101px) {
    .mobile {
        display: none;
    }
}

@media(orientation:portrait) and (min-height:700px) {
    .mobile nav ul li {
        margin: 15px 0;
    }

    .mobile nav ul li a {
        padding: 10px 0;
    }
}

@media(orientation:portrait) and (min-width:700px) {
    .mobile nav ul li a {
        font-size: 28px;
    }
}

@media(max-height: 400px) {
    .mobile {
        top: -150%;
    }

    .mobile nav ul li {
        margin: 5px;
    }

}

/* Home */
header {
    position: relative;
    background-image: url("../Images/main.jpg");
    background-position: 0 -10vh;
    background-repeat: no-repeat;
    background-size: cover;
    top: 10vh;
    min-height: 90vh;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

header div {
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 40vh;
    top: 50%;
    transform: translateY(-50%);
}

header div img.whitebear {
    position: absolute;
    height: 15vh;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

header div h1 {
    position: relative;
    color: white;
    text-align: center;
    display: block;
    top: 60%;
    font-size: 18px;
    font-family: 'Uncial Antiqua', cursive;

}

header div h1 span {
    font-size: 46px;
}

@media(max-width: 1100px) {
    header {
        background-position: 0 0;
        top: 0;
        height: 100vh;
    }

    header div h1 {
        font-size: 14px;
    }

    header div h1 span {
        font-size: 36px;
    }
}


@media(orientation:portrait) and (min-width:700px) {
    header div h1 {
        font-size: 22px;
    }

    header div h1 span {
        font-size: 66px;
    }
}

@media(max-height:400px) {
    header div h1 {
        font-size: 12px;
    }

    header div h1 span {
        font-size: 26px;
    }
}

/* About */

.about {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: 5vh 0;
}

.about h1 {
    display: block;
    width: 100%;
    margin: 2.5vh 0;
    text-align: center;
    line-height: 8vh;
    font-size: 36px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Metamorphous', cursive;
}

.about div img {
    display: block;
    max-height: 70vh;
    margin: 0 5% 5%;
    box-shadow: 0 0 15px black;
    float: left;
    border-radius: 8px;
}

.about p {
    display: block;
    margin: 0 5%;
    text-align: justify;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: roboto;
}

.about button {
    position: absolute;
    bottom: 6vh;
    right: 6%;
    border: none;
}

.about button a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 25px;
    color: #fff;
    border: 1px solid white;
    background-color: #8C8074;
    transition: .3s
}

.about button a:hover {
    background-color: #fff;
    color: #8C8074
}

@media (max-width: 1650px) and (orientation:landscape) {
    .about p {
        font-size: 18px;
        line-height: 26px;
    }
}

@media(max-width: 1600px)and (orientation:landscape) {
    .about div img {
        max-width: 60%;
    }

    .about p {
        font-size: 17px;
        line-height: 22px;
    }
}

@media(max-width:1350px) and (orientation:landscape) {
    .about div img {
        max-height: 60vh;
    }
}

@media(max-width:1200px) and (orientation:landscape) {
    .about div img {
        max-height: 50vh;
    }
}

@media(max-width: 1050px) {
    .about {
        height: auto;
        margin: 0;
    }

    .about div img {
        max-height: 100vh;
        min-width: 70%;
        margin: 0 auto 5vh;
        float: none;
    }

    .about div p {
        font-size: 16px;
        line-height: 22px;
        margin: 5vh 5vh 10vh;
    }

    .about button {
        bottom: 0;
        margin-top: 10vh;
    }

    .about button a {
        font-size: 18px;
    }
}

@media(max-width:900px) {

    .about div img {
        width: 80%;
    }
}

@media(orientation: landscape) and (max-width:850px) {
    .about {
        top: 105vh;
        height: 165vh;
    }

    .about div img {
        margin: 5vh 15%;
        width: 70%;
        max-height: 80vh;
    }
}

@media(max-width: 700px) {
    .about {
        min-height: 200vh;
    }

    .about div p {
        font-size: 16px;
        line-height: 20px;
        margin: 5vh 5vh 10vh;
    }
}

@media(max-width:600px) and (orientation:landscape) {
    .about {
        height: 210vh;
    }
}

@media(orientation: portrait) and (min-height:800px) {
    .about {
        height: 130vh;
    }
}

@media(orientation: portrait) and (min-height:1000px) {
    .about {
        height: 95vh;
    }

    .about div img {
        float: none;
        margin: 5vh auto;
    }

    .about div p {
        line-height: 26px;
        font-size: 18px;
    }
}

@media(orientation: portrait) and (min-height:1300px) {
    .about {
        height: 100vh;
    }

    .about div img {
        width: 80%;
    }

    .about div p {
        font-size: 26px;
        line-height: 36px;
    }

    .about button {
        bottom: 0;
    }
}

@media(max-width:600px) {
    .about {
        height: 100vh;
    }
}

@media(orientation: portrait) and (max-width:450px) {
    .about {
        height: 125vh;
    }

    .about div img {
        max-height: 100vh;
        max-width: 80%;
        margin: 5vh auto;
    }
}

@media(orientation: portrait) and (max-width:420px) {
    .about {
        min-height: 130vh;
    }
}

@media(orientation: portrait) and (max-width:400px) {
    .about {
        height: 150vh;
    }
}

@media(orientation: portrait) and (max-width:370px) {
    .about div p {
        font-size: 14px;
    }
}

@media(orientation: portrait) and (max-width:350px) {
    .about {
        height: 170vh;
    }
}

/* Galeria */
.gallery {
    background-image: url("../Images/Battle.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 200vh;
}

.gallery button {
    position: absolute;
    bottom: 6vh;
    right: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery button a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 100px 10px 25px;
    color: #fff;
    transition: .3s;
    font-family: 'Metamorphous', cursive;

}

.gallery button a:hover {
    padding: 10px 175px 10px 50px;
}

@media(max-width: 1400px) {
    .gallery button a {
        font-size: 22px;
    }
}

@media(max-width: 1100px) {
    .gallery {
        top: 240vh;
        height: 100vh;
    }

    .gallery button {
        bottom: 15vh;
    }

    .gallery button a {
        font-size: 22px;
    }

    .gallery button a:hover {
        padding: 10px 115px 10px 30px;
    }
}

@media(max-width:850px) {
    .gallery {
        top: 280vh;
    }
}

@media(max-width:900px) {
    .gallery {
        top: 295vh;
    }

    .gallery button a {
        font-size: 16px;
    }
}

@media(orientation:portrait) and (min-width:700px) {
    .gallery button a {
        font-size: 22px;
    }
}

@media(orientation:portrait) and (min-width:1000px) {
    .gallery button a {
        font-size: 30px;
    }
}

@media(max-width:600px) {
    .gallery {
        top: 330vh;
    }
}

@media(orientation: portrait) and (max-width:450px) {
    .gallery {
        top: 235vh
    }
}

@media(orientation: portrait) and (max-width:400px) {
    .gallery {
        top: 260vh
    }
}

@media(orientation: portrait) and (max-width:350px) {
    .gallery {
        top: 280vh
    }
}

@media(orientation: portrait) and (min-height:1000px) {
    .gallery {
        top: 240vh
    }
}

@media(orientation: portrait) and (min-height:800px) {
    .gallery {
        top: 240vh
    }
}

@media(orientation: portrait) and (min-height:1000px) {
    .gallery {
        top: 210vh
    }
}

/* Rekrutacja */
.recruitment {
    position: absolute;
    top: 290vh;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: 5vh 0;
}

.recruitment h1 {
    display: block;
    width: 100%;
    margin: 2.5vh 0;
    text-align: center;
    line-height: 8vh;
    font-size: 36px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Metamorphous', cursive;
}

.recruitment div img {
    display: block;
    max-height: 70vh;
    margin: 0 5%;
    box-shadow: 0 0 15px #444;
    float: right;
    border-radius: 8px;
}

.recruitment div p {
    display: block;
    margin: 0 0 0 5%;
    padding: 15vh 0 0 0;
    text-align: justify;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: roboto;
}

.recruitment button {
    position: absolute;
    bottom: 32vh;
    left: 26%;
    border: none;
}

.recruitment button a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 25px;
    color: #fff;
    border: 1px solid white;
    background-color: #8C8074;
    transition: .3s
}

.recruitment button a:hover {
    background-color: #fff;
    color: #8C8074
}



@media (max-width: 1700px) {
    .recruitment p {
        font-size: 16px;
        line-height: 26px;
    }

    .recruitment button {
        left: 20%;
    }
}

@media (max-width: 1500px) {

    .recruitment button {
        left: 13%;
        bottom: 25vh;
    }
}

@media(max-width: 1400px) {
    .recruitment div img {
        max-width: 60%;
    }

    .recruitment p {
        font-size: 14px;
    }

    .recruitment button {
        bottom: 30vh;
    }
}

@media(max-width:1200px) {
    .recruitment div img {
        max-height: 50vh;
    }
}

@media(max-width:1150px) {
    .recruitment button {
        left: 15%;
    }
}

@media(max-width: 1100px) {
    .recruitment {
        top: 340vh;
        margin: 0;
        height: 100vh;
    }

    .recruitment div img {
        /* float: none; */
        width: 90%;
        max-height: 100vh;
    }

    .recruitment div p {
        /* float: none; */
        font-size: 18px;
        line-height: 24px;
        margin: 0 5vh;
    }

    .recruitment button {
        bottom: 40vh;
    }

    .recruitment button a {
        font-size: 16px;
    }
}


@media(max-width: 1100px) {
    .recruitment {
        height: 100vh;
        margin: 0;
    }

    .recruitment div img {
        max-height: 100vh;
        min-width: 70%;
        margin: 0 auto;
        float: none;
    }

    .recruitment div p {
        font-size: 20px;
        line-height: 28px;
        margin: 0 5vh;
        float: none;
        padding: 5vh 0 0 0;
    }

    .recruitment button {
        bottom: 14vh;
        left: 65%
    }

    .recruitment button a {
        font-size: 18px;
    }
}

@media(max-width: 1100px) and (orientation:landscape) {
    .recruitment button {
        bottom: 5vh;
    }
}

@media(max-width: 1050px) {
    .recruitment {
        height: 125vh;
    }
}

@media(max-width:900px) {
    .recruitment {
        top: 400vh;
        height: 165vh;
    }

    .recruitment div p {
        font-size: 14px;
    }

    .recruitment button {
        bottom: 20vh;
    }

    .recruitment button a {
        font-size: 14px;
    }
}

@media(max-width:900px)and(orientation:portrait) {
    .recruitment {
        height: 100vh;
    }
}

@media(max-width:800px) {
    .recruitment button {
        bottom: 30vh;
    }
}

@media(max-width:700px) {
    .recruitment button {
        bottom: 25vh;
    }
}

@media(max-width:600px) {
    .recruitment {
        top: 440vh
    }

    .recruitment h1 {
        margin-bottom: 5vh;
    }
}

@media(orientation: portrait) and (max-width:500px) {
    .recruitment {
        height: 100vh;
        top: 340vh
    }

    .recruitment div p {
        font-size: 16px;
    }

    .recruitment div img {
        max-height: 100vh;
        max-width: 80%;
        margin: 5vh auto;
    }

    .recruitment button {
        left: 47%;
        bottom: 15vh;
    }
}

@media(orientation: portrait) and (max-width:420px) {
    .recruitment {
        min-height: 105vh;
    }
}

@media(orientation: portrait) and (max-width:400px) {
    .recruitment {
        height: 100vh;
        top: 360vh
    }

    .recruitment button {
        left: 50%;
        bottom: 10vh;
    }
}

@media(orientation: portrait) and (max-width:370px) {
    .recruitment div p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media(orientation: portrait) and (max-width:350px) {
    .recruitment {
        top: 380vh;
    }

    .recruitment div p {
        font-size: 14px;
    }

    .recruitment button {
        bottom: 5vh
    }

    .recruitment button a {
        font-size: 12px;
    }
}

@media(orientation: portrait) and (min-height:800px) {
    .recruitment {
        height: 100vh;
        top: 340vh;
    }

    .recruitment button {
        bottom: 20vh
    }
}

@media(orientation: portrait) and (min-height:1000px) {
    .recruitment {
        top: 310vh;
    }

    .recruitment div img {
        max-height: 100vh;
        min-width: 90%;
        margin: 0 auto;
        float: none;
    }

    .recruitment div p {
        font-size: 22px;
    }

    .recruitment button {
        bottom: 15vh
    }

    .recruitment button a {
        font-size: 20px;
    }
}



@media(orientation: portrait) and (min-height:1300px) {
    .recruitment {
        height: 100vh;
        margin: 0;
    }

    .recruitment div img {
        max-height: 100vh;
        min-width: 90%;
        margin: 0 auto;
        float: none;
    }

    .recruitment div p {
        font-size: 30px;
        line-height: 38px;
        margin: 0 5vh;
        float: none;
        padding: 5vh 0 0 0;
    }

    .recruitment button {
        bottom: 20vh;
        left: 65%
    }

    .recruitment button a {
        font-size: 26px;
    }
}

/* Współpraca */

.collaboration {
    background-image: url("../Images/collaboration.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 390vh;
}

.collaboration img {
    display: block;
    position: absolute;
    max-width: 100%;
    transform: rotateY(180deg);
}

.collaboration p {
    display: block;
    position: absolute;
    color: white;
    top: 10vh;
    left: 5%;
    max-width: 27%;
    font-size: 22px;
    line-height: 32px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: roboto;
    padding: 15px 20px;
}

.collaboration button {
    position: absolute;
    bottom: 6vh;
    right: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.collaboration button a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 100px 10px 25px;
    color: #fff;
    transition: .3s;
    font-family: 'Metamorphous', cursive;

}

.collaboration button a:hover {
    padding: 10px 175px 10px 50px;
}

@media(max-width: 1400px) {
    .collaboration button a {
        font-size: 22px;
    }

    .collaboration p {
        font-size: 18px;
        line-height: 26px;
        max-width: 24%;
    }
}

@media(max-width: 1100px) {
    .collaboration {
        top: 440vh;
    }

    .collaboration p {
        font-size: 20px;
        line-height: 24px;
    }
}

@media(max-width:1050px) {
    .collaboration {
        top: 470vh;
        height: 100vh
    }
}

@media(max-width: 1000px) {
    .collaboration {
        top: 440vh;
    }

    .collaboration button a {
        font-size: 22px;
    }

    .collaboration p {
        font-size: 16px;
        line-height: 24px;
    }

    .collaboration button a:hover {
        padding: 10px 115px 10px 30px;
    }
}

@media(max-width:900px) {
    .collaboration {
        top: 430vh
    }
}

@media(max-width:900px) and (orientation:landscape) {
    .collaboration {
        top: 550vh;
        height: 100vh;
    }

    .collaboration p {
        max-width: 80%;
    }
}

@media(max-width:600px) and (orientation:landscape) {
    .collaboration {
        top: 590vh;
        height: 100vh;
    }

    .collaboration p {
        max-width: 80%;
    }
}

@media(orientation:portrait) and (min-width: 700px) {
    .collaboration {
        top: 410vh;
        height: 100vh;
    }

    .collaboration p {
        max-width: 60%;
        font-size: 28px;
        line-height: 42px;
    }

    .collaboration button a {
        font-size: 32px;
    }
}

@media(orientation:portrait) and (min-width:800px) {
    .collaboration {
        top: 430vh
    }
}

@media(orientation:portrait) and (min-width: 1000px) {
    .collaboration p {
        max-width: 60%;
        font-size: 32px;
        line-height: 46px;
    }
}

@media(orientation: portrait) and (min-height:1200px) {
    .collaboration {
        top: 410vh;
    }
}

@media(orientation: portrait) and (max-width:600px) {
    .collaboration {
        top: 410vh;
        height: 100vh
    }

    .collaboration p {
        max-width: 70%;
        font-size: 22px;
        line-height: 32px;
    }
}

@media(orientation: portrait) and (max-width:500px) {
    .collaboration {
        top: 440vh;
        height: 100vh;
    }

    .collaboration p {
        max-width: 70%;
        font-size: 20px;
        line-height: 28px;
    }
}

@media(orientation: portrait) and (max-width:400px) {
    .collaboration {
        top: 460vh;
        height: 100vh;
    }

    .collaboration p {
        max-width: 70%;
        font-size: 18px;
    }
}

@media(orientation: portrait) and (max-width:370px) {
    .collaboration p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media(orientation:portrait) and (max-width:350px) {
    .collaboration {
        top: 480vh;
    }

    .collaboration p {
        font-size: 16px;
        line-height: 22px;
    }

    .collaboration button a {
        font-size: 18px;
    }
}

/* Kontakt */
.contact {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 480vh;
    background-color: #262626;
    width: 100%;
    height: 55vh;
}

.contact h1 {
    display: block;
    width: 100%;
    margin: 5vh 0;
    text-align: center;
    line-height: 8vh;
    font-size: 36px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Metamorphous', cursive;
}

.contact .media {
    width: 40%;
    height: 42vh;
    float: left;
    padding: 0 10%;
}

.contact .media a {
    display: block;
    width: 85%;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    line-height: 40px;
    /* padding: 0 25px; */
    margin: 10px;
    margin-left: 40%;
}

.contact .media a i {
    padding-right: 8px;
    /* width: 25px; */
}

.contact .bear {
    width: 28%;
    float: left;
}

.contact .bear img {
    display: block;
    position: absolute;
    /* margin: 5vh auto; */
    height: 15vh;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.contact .e-mail {
    display: block;
    float: right;
    margin: 2% 12%;
}

.contact .e-mail p {
    color: #fff;
    font-family: 'Metamorphous', cursive;
    /* font-family: roboto; */
    font-size: 36px;
    line-height: 55px;
}

.contact .e-mail p span {
    font-size: 22px;
    font-family: roboto;
}

.contact .author {
    color: #999;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.contact .author a {
    color: #735856;
    text-decoration: none;
}



@media(max-width: 1400px) {
    .contact .media a {
        font-size: 18px;
        line-height: 34px;
    }

    .contact .e-mail p {
        font-size: 30px;
    }

    .contact .e-mail p span {
        font-size: 20px;
    }
}

@media(orientation:landscape) and (max-width:1400px) {
    .contact .media a {
        font-size: 22px;
        line-height: 32px;
    }
}

@media(max-width:1100px) {
    .contact {
        top: 530vh
    }
}

@media(max-width: 1050px) {
    .contact {
        top: 570vh;
    }
}

@media(max-width: 1000px) {
    .contact .media a {
        font-size: 14px;
        line-height: 22px;
    }

    .contact .e-mail p {
        font-size: 18px;
        line-height: 35px;
    }

    .contact .e-mail p span {
        font-size: 12px;
    }
}

@media(max-width:900px) {
    .contact {
        top: 530vh
    }
}

@media(max-width:900px) and (orientation:landscape) {
    .contact {
        top: 650vh;
    }

    .contact .e-mail p {
        font-size: 22px;
    }

    .contact .e-mail p span {
        font-size: 14px;
    }
}

@media(orientation:landscape) and (max-width:700px) {
    .contact .media a {
        font-size: 14px;
        line-height: 20px;
    }

    .contact .e-mail {
        margin-right: 7%;
    }
}

@media(max-width:600px) and (orientation:landscape) {
    .contact {
        top: 690vh;
        height: 70vh;
    }

    .contact h1 {
        font-size: 32px;
    }

    .contact .e-mail {
        margin-right: 7%;
    }

    .contact .e-mail p {
        font-size: 18px;
    }

    .contact .e-mail p span {
        font-size: 13px;
    }
}



@media(orientation:portrait) {
    .contact {
        top: 560vh;
        height: 80vh
    }

    .contact .media {
        float: none;
        width: 100%;
        text-align: center;
    }

    .contact .media a {
        font-size: 20px;
        margin-left: 10px;
    }

    .contact .bear img {
        top: 50%;
    }

    .contact .e-mail {
        width: 100%;
        margin: 0;
        text-align: center;
        float: none;
    }

    .contact .e-mail p {
        font-size: 24px;
    }

    .contact .e-mail p span {
        font-size: 18px;
    }
}

@media(orientation:portrait) and (min-width:700px) {
    .contact {
        top: 510vh
    }

    .contact h1 {
        font-size: 46px;
    }

    .contact .media {
        padding-right: 0;
    }

    .contact .media a {
        font-size: 32px;
        margin: 20px;
    }

    .contact .e-mail p {
        font-size: 36px;
        line-height: 42px;
    }

    .contact .e-mail p span {
        font-size: 28px;
    }
}

@media(orientation:portrait) and (max-width:600px) {
    .contact {
        top: 510vh
    }

    .contact .media {
        padding-right: 0;
    }

    .contact .media a {
        font-size: 24px;
        line-height: 30px;
    }

    .contact .e-mail p {
        font-size: 32px;
        line-height: 38px;
    }

    .contact .e-mail p span {
        font-size: 24px;
    }
}

@media(orientation:portrait) and (max-width:500px) {
    .contact {
        top: 540vh;
    }

    .contact .media a {
        line-height: 28px;
    }
}

@media(orientation: portrait) and (max-width:420px) {
    .contact .media a {
        font-size: 22px;
        line-height: 26px;
    }
}

@media(orientation:portrait) and (max-width:400px) {
    .contact {
        top: 560vh
    }
}

@media(orientation:portrait) and (max-width:385px) {
    .contact h1 {
        font-size: 30px;
    }

    .contact .media a {
        font-size: 16px;
        line-height: 22px;
    }

    .contact .e-mail p {
        font-size: 28px;
        line-height: 34px;
    }

    .contact .e-mail p span {
        font-size: 20px;
    }
}

@media(orientation:portrait) and (max-width:350px) {
    .contact {
        top: 560vh;
        height: 90vh
    }

    .contact h1 {
        font-size: 32px;
    }

    .contact .media a {
        font-size: 16px;
    }

    .contact .e-mail {
        margin-top: 5vh;
    }

    .contact .e-mail p {
        font-size: 22px;
    }

    .contact .e-mail p span {
        font-size: 16px;
    }
}

body {
    background-color: #8C8074;
    /* background-color: #999; */
}